@font-face {
    font-family: 'Ubuntu Mono';
    src: url('UbuntuMono-R.ttf');
}

html {
    height: 100%;
    block-size: border-box;
    margin: 0;
    padding: 0;
  }
  body {
    position: absolute; 
    top: 0; 
    bottom: 0; 
    right: 0; 
    left: 0; 
    block-size: border-box;
    margin: 0;
    padding: 0;
    height: auto;
}

.first {
    font-family: Ubuntu Mono;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000;
    height: 100%;
    flex-direction: column;
}

.second {
    font-family: Ubuntu Mono;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: #000;
    height: 100%;
}

.typewriter {
    font-family: Ubuntu Mono;
    position: absolute;
    top: 15px;
    left: 15px;
    color: #76c633;
}
.typewriter>.white {
    color: #fff; 
    margin-right: 0.5em;;
}

.typewriter>.white>.lambda {
    color: #5386b2;
}

@keyframes cursor-blink {
    0%   {background-color: #000;}
    33%  {background-color: #fff;}
    66%  {background-color: #fff;}
    100% {background-color: #000;}
}
.cursor {
    border: 1px solid #fff;
    width: 0.5em;
    height: 1em;
    display: inline-block;
    animation-name: cursor-blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}

.typewriter>#typewriter-input {
    color: #fff;
}


@keyframes sortOfHidden-show {
    0%   {color: #000;}
    100% {color: #fff; }
}

.sortOfHidden {
    color: #000;
    animation-name: sortOfHidden-show;
    animation-delay: 2s;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
